:root {
    --surf: #A3D6D1; 
    /* adding 88 after hexcode is 50% transparent. if want more opac, go higher. */
    --semiTransSurf: #ffffffce;
}

html {
    background: url(./images/pexels-mudassir-ali-1536431_1.jpg) center fixed;
    background-size: cover;
}

body {
    margin: 0;
    /* testing font for aesthetics */
    font-family: sans-serif;
}

header {
    background-color: #FFEED2;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}

header h1 {
    display: inline-block;
    font-size: 60px;
    
}
h1{
    font-family: 'Lobster', cursive;
}
#local-beach {
    font-size: 50px;
    margin: 0 50px 0 0;
}

.search-button {
    padding: 20px;
}

#searchBtn {
    background-color: var(--surf);
}

#location-btn{
    
    margin-left: 30px;
}

.columns {
    padding-top: 50px;
}

#mainText {
    background-color: var(--semiTransSurf);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.button{
    margin-bottom: 10px;
}

main aside {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.information {
  margin-top: 25px;
}

/* * any element inside information */
.information * {
    margin: 10px 0;
}

main {
    display: grid;
    grid-template-columns: 22% 50% 22%;
    margin-top: 50px;
    justify-content: space-around;
}

.time-wave {
    display: grid;
    /* 1 fraction */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.menu-list li{
   
    margin: 5px;
    padding: 5px;
    border: 1px #00d1b2 solid;
}
.menu-list li:hover{
    background-color: var(--surf);
    cursor: pointer;
   
}


@media screen and (max-width: 600px) {
    main {display: block;}
}


  /* Hide class and fade-in for the map */
.hide {
    display: none;
  }
  
  .fade-in {
    animation: fadeIn ease 3s;
  }
    
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  