
/*Style for the map and page */
#map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

/*Puts the test button at the top of the page */
#location-btn {
    display:block;
}